{% extends 'base.html' %}

{% block content %}   
<br/>
<div class="container">

<h1> Post </h1>
{% if user.is_authenticated %}
<a href="{% url 'add_post' %}" class="bi bi-file-plus"></a>
{% else %}
<p>Log ind for at oprette, redigere eller slette posts</p>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Skaber</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for post in object_list %}
      <tr>
        <td><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></td>
        <td>{{ post.author }}</td>
        <td>
            {% if user.id == post.author_id %}
            <a href="{% url 'update_post' post.pk %}" class="bi bi-pencil"></a>
            <a href="{% url 'delete_post' post.pk %}" class="bi bi-trash"></a>
            {% elif user.is_superuser %}
            <a href="{% url 'update_post' post.pk %}" class="bi bi-pencil"></a>
            <a href="{% url 'delete_post' post.pk %}" class="bi bi-trash"></a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block footer %}

{% endblock %}
