{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Dato til fremsøgning i Veris</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Her kan du kopiere datoer til fremsøgning i Veris, således du kan se samtlige fakturaer til kunden.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<form method="post">
    {% csrf_token %}
    <div class="container mt-5 mb-5"> <!-- Added bottom margin to the container -->
        <div class="row justify-content-center"> <!-- Center the content horizontally -->
            <div class="col-md-8">
                <div class="card bg-light p-5 mt-5 mb-5"> <!-- Added top and bottom margins to the card -->
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Datoer til fremsøgning siden 2017</h5> <!-- Center the title -->
                        </div>
                        <p>{{ årstal_list }}</p>
                        {% if message %}
                        <div class="alert alert-secondary mt-3 bg-light" role="alert">
                            <p class="mb-0 text-center"> {{ message|safe }} </p> <!-- Center the message -->
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- JavaScript to handle form submission -->
<script>
</script>

{% endblock %}
