{% extends 'base.html' %}
{% block footer %}{% endblock %}
{% block css %}
<style>
    body {
background-color: #000;
}

h1 {
    font-family: constantia,georgia,serif;
    font-size: 36pt;
    text-align: center;
    line-height: 4em;
    color: #ccc;
}

h2 {
    font-family: candara,verdana,sans-serif;
    font-size: 48pt;
    text-align: center;
    color: #ccc;
}

.yes {
    color: #66bc46;
}

.no {
    color: #f63a2d;
}

</style>
{% endblock %}

{% block content %}       
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Header-->
        <h1> Er det fredag? </h1>
        {% if day_of_week in monday_to_sunday %}
        <h2 id="answer" class="no"> Nej </h2>
        {% else %}
        <h2 id="answer" class="yes"> Ja </h2>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2 id="answer" class="yes"> Hav en god fredag, <span style="text-transform: capitalize;">{{ user_get }}</span>!</h2>
        {% endif %}

    </main>
    </body>

    {% endblock %}