{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10"> <!-- Adjusted to col-md-10 for larger width -->
            <form method="post">
                {% csrf_token %}
                <div class="card bg-light p-4" style="margin-bottom: 30px;">
                    <h4 class="text-center mb-4">Hangman Game</h4>

                    <!-- Display window for the hangman animation (to be implemented) -->
                    <div class="hangman-display mb-4">
                        <!-- Hangman animation or display area -->
                        <div class="d-inline-block">
                            <p class="d-block" style="letter-spacing: 5px;"> {{ order }} </p>
                            <div style="margin-top: -35px;">
                            {% for length in word %}
                            <p style="display: inline-block;"> _ </p>
                            {% endfor %}
                            </div>
                        </div>

                        {% if msg %}
                        <br><p style="display: inline-block;"> {{ msg }} </p><br/> 
                        {% endif %}
                        {% if not_unique_msg %}
                        <p> {{ not_unique_msg }}</p> 
                        {% endif %}

                        <div class="d-inline-block">
                            {% for all_guesses in guesses %}
                            <p style="display: inline-block;"> {{ all_guesses }} </p>
                            {% endfor %}
                        </div>


                    </div>
                    <!-- Input field for guessing -->

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="guess" placeholder="Enter your guess" aria-label="Enter your guess" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}
