{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Velkommen til din stat-konkurrence, <span style="text-transform: capitalize;">{{ user_get }}</span>!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Her kan du tjekke hvilken pris du har opnået ift. de mål der er givet af din leder.</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="" alt="..." /></div>
        </div>
    </div>
</header>

<form method="post">
    {% csrf_token %}

    <!-- "tast-selv"-felter -->   
    <div class="container mt-5">
        <div class="row">
            <!-- Grey Box 2 and Point og gevinst (Left side) -->
            <div class="col-md-6">
                <div class="card bg-light p-4 mb-4">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Tast-selv</h5> <!-- Center the title -->

                        <!-- KPT logik -->
                        {% if user_stats.kpt_2 > kpt_felt_ses and kpt_felt_ses >= user_stats.kpt %}
                        <p> Du er på trin 1, og opnår 2 point</p>
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt_felt" value="{{ kpt_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.kpt_3 > kpt_felt_ses and kpt_felt_ses >= user_stats.kpt_2 %}
                        <p> Du er på trin 2, og opnår 3 point </p> 
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt_felt" value="{{ kpt_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">
                        
                        {% elif kpt_felt_ses >= user_stats.kpt_3 %}
                        <p> Du er på trin 3, og opnår 5 point </p>
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt_felt" value="{{ kpt_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">
                        
                        {% elif user_stats.kpt > kpt_felt_ses %}
                        <p> Du opnår desværre ingen point. </p>
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt_felt" value="{{ kpt_felt_ses }}" style="color: #6c757d; border: 3px solid rgb(238, 144, 144); display: inline-block;" step="any">
                        
                        {% else %}
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt_felt" value="{{ kpt_felt_ses }}" style="color: #6c757d; display: inline-block;" step="any">
                        {% endif %}


                        <!-- GA logik -->
                        {% if user_stats.ga_2 > ga_felt_ses and ga_felt_ses >= user_stats.ga %}
                            <p> Du er på trin 1, og opnår 2 point</p>
                            <input type="number" class="form-control mb-3" placeholder="ga" name="ga_felt" value="{{ ga_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.ga_3 > ga_felt_ses and ga_felt_ses >= user_stats.ga_2 %}
                            <p> Du er på trin 2, og opnår 3 point </p> 
                            <input type="number" class="form-control mb-3" placeholder="ga" name="ga_felt" value="{{ ga_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif ga_felt_ses >= user_stats.ga_3 %}
                            <p> Du er på trin 3, og opnår 5 point </p>
                            <input type="number" class="form-control mb-3" placeholder="ga" name="ga_felt" value="{{ ga_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.ga > ga_felt_ses %}
                            <p> Du opnår desværre ingen point. </p>
                            <input type="number" class="form-control mb-3" placeholder="ga" name="ga_felt" value="{{ ga_felt_ses }}" style="color: #6c757d; border: 3px solid rgb(238, 144, 144); display: inline-block;" step="any">

                        {% else %}
                            <input type="number" class="form-control mb-3" placeholder="ga" name="ga_felt" value="{{ ga_felt_ses }}" style="color: #6c757d; display: inline-block;" step="any">
                        {% endif %}

                        <!-- KT logik -->
                        {% if user_stats.kontakttilladelser_2 > kt_felt_ses and kt_felt_ses >= user_stats.kontakttilladelser %}
                            <p> Du er på trin 1, og opnår 2 point</p>
                            <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt_felt" value="{{ kt_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.kontakttilladelser_3 > kt_felt_ses and kt_felt_ses >= user_stats.kontakttilladelser_2 %}
                            <p> Du er på trin 2, og opnår 3 point </p> 
                            <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt_felt" value="{{ kt_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif kt_felt_ses >= user_stats.kontakttilladelser_3 %}
                            <p> Du er på trin 3, og opnår 5 point </p>
                            <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt_felt" value="{{ kt_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.kontakttilladelser > kt_felt_ses %}
                            <p> Du opnår desværre ingen point. </p>
                            <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt_felt" value="{{ kt_felt_ses }}" style="color: #6c757d; border: 3px solid rgb(238, 144, 144); display: inline-block;" step="any">
                        {% else %}
                            <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt_felt" value="{{ kt_felt_ses }}" style="color: #6c757d; display: inline-block;" step="any">
                        {% endif %}

                        <!-- CSAT logik -->
                        {% if user_stats.csat_2 > csat_felt_ses and csat_felt_ses >= user_stats.csat %}
                            <p> Du er på trin 1, og opnår 2 point</p>
                            <input type="number" class="form-control mb-3" placeholder="csat" name="csat_felt" value="{{ csat_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.csat_3 > csat_felt_ses and csat_felt_ses >= user_stats.csat_2 %}
                            <p> Du er på trin 2, og opnår 3 point </p> 
                            <input type="number" class="form-control mb-3" placeholder="csat" name="csat_felt" value="{{ csat_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif csat_felt_ses >= user_stats.csat_3 %}
                            <p> Du er på trin 3, og opnår 5 point </p>
                            <input type="number" class="form-control mb-3" placeholder="csat" name="csat_felt" value="{{ csat_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.csat > csat_felt_ses %}
                            <p> Du opnår desværre ingen point. </p>
                            <input type="number" class="form-control mb-3" placeholder="csat" name="csat_felt" value="{{ csat_felt_ses }}" style="color: #6c757d; border: 3px solid rgb(238, 144, 144); display: inline-block;" step="any">
                        {% else %}
                            <input type="number" class="form-control mb-3" placeholder="csat" name="csat_felt" value="{{ csat_felt_ses }}" style="color: #6c757d; display: inline-block;" step="any">
                        {% endif %}

                        <!-- COPC logik -->
                        {% if user_stats.copc_2 > copc_felt_ses and copc_felt_ses >= user_stats.copc %}
                            <p> Du er på trin 1, og opnår 2 point</p>
                            <input type="number" class="form-control mb-3" placeholder="copc" name="copc_felt" value="{{ copc_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.copc_3 > copc_felt_ses and copc_felt_ses >= user_stats.copc_2 %}
                            <p> Du er på trin 2, og opnår 3 point </p> 
                            <input type="number" class="form-control mb-3" placeholder="copc" name="copc_felt" value="{{ copc_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif copc_felt_ses >= user_stats.copc_3 %}
                            <p> Du er på trin 3, og opnår 5 point </p>
                            <input type="number" class="form-control mb-3" placeholder="copc" name="copc_felt" value="{{ copc_felt_ses }}" style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;" step="any">

                        {% elif user_stats.copc > copc_felt_ses %}
                            <p> Du opnår desværre ingen point. </p>
                            <input type="number" class="form-control mb-3" placeholder="copc" name="copc_felt" value="{{ copc_felt_ses }}" style="color: #6c757d; border: 3px solid rgb(238, 144, 144); display: inline-block;" step="any">
                        {% else %}
                            <input type="number" class="form-control mb-3" placeholder="copc" name="copc_felt" value="{{ copc_felt_ses }}" style="color: #6c757d; display: inline-block;" step="any">
                        {% endif %}

                        <!-- Counter logik -->
                        {% if counter %}
                        <p> Du har lige nu et samlet antal point {{counter}}</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary px-4 me-sm-3">Submit</button> <!-- Make the button full width -->
                    </div>
                </div>
            </div>

            <!-- "Info_fra_DB"-felter -->   
            <div class="col-md-6">
                <div class="card bg-light p-4">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Trin bestemt af din leder:</h5> <!-- Center the title -->
                        <p> Trin 1, hvert felt = 2 point </p>
                        <p> KPT </p>
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt" value="{{ user_stats.kpt }}" readonly style="color: #6c757d;">
                        <p> GA </p>
                        <input type="number" class="form-control mb-3" placeholder="ga" name="ga" value="{{ user_stats.ga }}" readonly style="color: #6c757d;">
                        <p> Kontakttilladelser </p>
                        <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt" value="{{ user_stats.kontakttilladelser }}" readonly style="color: #6c757d;">
                        <p> CSAT </p>
                        <input type="number" class="form-control mb-3" placeholder="csat" name="csat" value="{{ user_stats.csat }}" readonly style="color: #6c757d;">
                        <p> COPC </p>
                        <input type="number" class="form-control mb-3" placeholder="copc" name="copc" value="{{ user_stats.copc }}" readonly style="color: #6c757d;">


                        <p> Trin 2, hvert felt = 3 point </p>
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt" value="{{ user_stats.kpt_2 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="ga" name="ga" value="{{ user_stats.ga_2 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt" value="{{ user_stats.kontakttilladelser_2 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="csat" name="csat" value="{{ user_stats.csat_2 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="copc" name="copc" value="{{ user_stats.copc_2 }}" readonly style="color: #6c757d;">


                        <p> Trin 3, hvert felt = 5 point </p>
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt" value="{{ user_stats.kpt_3 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="ga" name="ga" value="{{ user_stats.ga_3 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt" value="{{ user_stats.kontakttilladelser_3 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="csat" name="csat" value="{{ user_stats.csat_3 }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="copc" name="copc" value="{{ user_stats.copc_3 }}" readonly style="color: #6c757d;">


                    </div>
                </div>
            </div>
            
            <!-- trin-feltet -->   
            <div class="col-md-6">
                <div class="card bg-light" style="margin-top: 1rem; margin-bottom: 1rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Point og gevinst</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt" value="{{ user_stats.trin_1 }}" readonly style="color: #6c757d;">
                            </div>
                            <div class="col-md-6"> 
                                {% if counter > user.stats.trin_2 %}
                                <input type="number" class="form-control mb-3" placeholder="200 kr" name="new_field_2" value="{{ new_field_2_value }}" readonly style="color: #6c757d;">
                                {% elif user_stats.trin_2 > counter and counter >= user_stats.trin_1 %}
                                <input type="number" class="form-control mb-3" placeholder="200 kr" name="new_field_2" value="{{ new_field_2_value }}" readonly style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;">
                                {% else %}
                                <input type="number" class="form-control mb-3" placeholder="200 kr" name="new_field_2" value="{{ new_field_2_value }}" readonly style="color: #6c757d;">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt" value="{{ user_stats.trin_2 }}" readonly style="color: #6c757d;">
                            </div>
                            <div class="col-md-6">
                                <!-- New Field 1 -->
                                {% if counter > user.stats.trin_3 %}
                                <input type="number" class="form-control mb-3" placeholder="300 kr" name="new_field_1" value="{{ new_field_1_value }}" readonly style="color: #6c757d;">
                                {% elif user_stats.trin_3 > counter and counter >= user_stats.trin_2 %}
                                <input type="number" class="form-control mb-3" placeholder="300 kr" name="new_field_1" value="{{ new_field_1_value }}" readonly style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;">
                                {% else %}
                                <input type="number" class="form-control mb-3" placeholder="300 kr" name="new_field_1" value="{{ new_field_1_value }}" readonly style="color: #6c757d;">
                                {% endif %}
                            </div>
                        </div>
                        <!-- New Fields 2 and 3 -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- New Field 2 -->
                                <input type="number" class="form-control mb-3" placeholder="ga" name="ga" value="{{ user_stats.trin_3 }}" readonly style="color: #6c757d;">
                            </div>
                            <div class="col-md-6">
                                <!-- New Field 3 -->
                                {% if counter >= user_stats.trin_3 %}
                                <input type="number" class="form-control mb-3" placeholder="500 kr" name="new_field_3" value="{{ new_field_3_value }}" readonly style="color: #6c757d; border: 3px solid lightgreen; display: inline-block;">
                                {% else %}
                                <input type="number" class="form-control mb-3" placeholder="500 kr" name="new_field_3" value="{{ new_field_3_value }}" readonly style="color: #6c757d;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- "tast-selv andre_stats"-felter    
            <div class="col-md-6">
                <div class="card bg-light p-4">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Grey Box 1</h5> 
                        <input type="number" class="form-control mb-3" placeholder="kpt" name="kpt" value="{{ user_stats.kpt }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="ga" name="ga" value="{{ user_stats.ga }}" readonly style="color: #6c757d;">
                        <input type="number" class="form-control mb-3" placeholder="kontakttilladelser" name="kt" value="{{ user_stats.kontakttilladelser }}" readonly style="color: #6c757d;">
                    </div>
                </div>
            </div> -->
                
        </div>
    </div>

    {% if message2 %}
    <div class="alert alert-secondary mt-3 bg-light" role="alert">
        <p class="mb-0 text-center"> {{ message2 }} </p> <!-- Center the message -->
        <div class="text-center"> <!-- Centering the button -->
            <br>
            <button type="submit" class="btn btn-primary px-4 me-sm-3" name="test_knap">Gem og vis ID</button>
        </div>
    </div>
    {% endif %}
    {% if message3 %}
    <div class="alert alert-secondary mt-3 bg-light" role="alert">
        <p class="mb-0 text-center"> {{ message3 }} </p> <!-- Center the message -->
    </div>
    {% endif %}
</form>


<!-- JavaScript to handle form submission -->
<script>


</script>

{% endblock %}
