{% extends 'base.html' %}
{% block content %}

{% if user.is_superuser %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Velkommen Til StatKonkurrencens Redigeringsværktøj </h1>
                    <p class="lead fw-normal text-white-50 mb-4">Her kan du ændre stats for dine konsulenter i StatKonkurrencen! For at se stats du lige har ændret skal du trykke go igen.</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="" alt="..." /></div>
        </div>
    </div>
</header>

<form method="post">
    {% csrf_token %}
    <!-- Grey Box and Input Fields -->
    <div class="col">
        <div class="card bg-light p-4">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Bestem stats til dine konsulenter.</h5> <!-- Center the title -->
                <div class="row">
                    <!-- user_felt Menu -->
                    <div class="col-md-6 offset-md-3"> <!-- Offset to center the dropdown -->
                        <div class="form-group">
                            <label for="user_felt">Hvilken konsulent?</label>
                            <div class="input-group">
                                <select class="form-control" id="user_felt" name="user_felt">
                                    <option value="{{ user_felt_ses }}">{{ user_felt_ses }}</option>
                                    {% for all_users in users %}
                                    <option value="{{ all_users }}">{{ all_users }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary px-4 mt-3" name="user_felt_knap">GO</button>
                        </div>
                    </div>
                <!-- Input Fields -->
                <h3> Trin 1 </h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kpt">KPT</label>
                            <input type="number" class="form-control" id="kpt" name="kpt" value="{{ user_stats.kpt }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ga">GA</label>
                            <input type="number" class="form-control" id="ga" name="ga" value="{{ user_stats.ga }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kontakttilladelser">Kontakttilladelser</label>
                            <input type="number" class="form-control" id="kontakttilladelser" name="kontakttilladelser" value="{{ user_stats.kontakttilladelser }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="csat">CSAT</label>
                            <input type="number" class="form-control" id="csat" name="csat" value="{{ user_stats.csat }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="copc">COPC</label>
                            <input type="number" class="form-control" id="copc" name="copc" value="{{ user_stats.copc }}" step="any">
                        </div>
                    </div>

                    <!-- Input Fields 2 -->
                    <h3> Trin 2 </h3>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kpt_2">KPT 2</label>
                            <input type="number" class="form-control" id="kpt_2" name="kpt_2" value="{{ user_stats.kpt_2 }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ga_2">GA 2</label>
                            <input type="number" class="form-control" id="ga_2" name="ga_2" value="{{ user_stats.ga_2 }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kontakttilladelser_2">Kontakttilladelser 2</label>
                            <input type="number" class="form-control" id="kontakttilladelser_2" name="kontakttilladelser_2" value="{{ user_stats.kontakttilladelser_2 }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="csat_2">CSAT 2</label>
                            <input type="number" class="form-control" id="csat_2" name="csat_2" value="{{ user_stats.csat_2 }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="copc_2">COPC 2</label>
                            <input type="number" class="form-control" id="copc_2" name="copc_2" value="{{ user_stats.copc_2 }}" step="any">
                        </div>
                    </div>
                </div>


                <!-- Input Fields 3 -->
                <h3> Trin 3 </h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kpt_3">KPT 3</label>
                            <input type="number" class="form-control" id="kpt_3" name="kpt_3" value="{{ user_stats.kpt_3 }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ga_3">GA 3</label>
                            <input type="number" class="form-control" id="ga_3" name="ga_3" value="{{ user_stats.ga_3 }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="kontakttilladelser_3">Kontakttilladelser 3</label>
                            <input type="number" class="form-control" id="kontakttilladelser_3" name="kontakttilladelser_3" value="{{ user_stats.kontakttilladelser_3 }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="csat_3">CSAT 3</label>
                            <input type="number" class="form-control" id="csat_3" name="csat_3" value="{{ user_stats.csat_3 }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="copc_3">COPC 3</label>
                            <input type="number" class="form-control" id="copc_3" name="copc_3" value="{{ user_stats.copc_3 }}" step="any">
                        </div>
                    </div>



                                        <!-- trin -->
                    <h3> Her fordeles point pr. trin </h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trin_1">Trin 1</label>
                            <input type="number" class="form-control" id="trin_1" name="trin_1" value="{{ user_stats.trin_1 }}" step="any">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trin_2">Trin 2</label>
                            <input type="number" class="form-control" id="trin_2" name="trin_2" value="{{ user_stats.trin_2 }}" step="any">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="trin_3">Trin 3</label>
                            <input type="number" class="form-control" id="trin_3" name="trin_3" value="{{ user_stats.trin_3 }}" step="any">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary px-4 mt-3" name="upload_stats_button" id="upload_stats_button">Upload Stats</button>
    </div>
</form>

<script>

</script>
{% else %}

<h1> Hej</h1>

{% endif %}

<!-- Additional content or form goes here -->

{% endblock %}
