{% extends 'base.html' %}
{% block content %}

 
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Tjek et id</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Her kan du tjekke udregninger for forrige krediteringer. På denne måde er det nemmere at overskue hvorfor krediteringen er lavet, og evt. spotte fejl!</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="" alt="..." /></div>
        </div>
    </div>
</header>

        </header>
        <form method="post">
            {% csrf_token %}
        <div class="container mt-5">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="card bg-light p-4">
                        <div class="card-body">
                            <h5 class="card-title">Her kan du regne efter:</h5>
                            <input type="number" class="form-control mb-3" placeholder="Test" name="test1" min="0" step="1" >
                            <input type="date" class="form-control mb-3" placeholder="Date Field" name="test_date_fra" style="color: grey;">
                            <input type="date" class="form-control mb-3" placeholder="Date Field" name="test_date_til" style="color: grey;">
                            <button type="submit" class="btn btn-primary px-4 me-sm-3">Submit</button>
                        </div>
                    </div>
                
                    <div class="card bg-light p-4">
                        <div class="card-body">
                            <h5 class="card-title">Indhold fra udregning lavet af <h5 style="text-transform: capitalize;">{{ indhold_fra_id.user }}</h5></h5> 
                            <input type="text" class="form-control mb-3" placeholder="Pris" value="{{ indhold_fra_id.test1 }}" readonly style="color: #6c757d;">
                            <input type="text" class="form-control mb-3" placeholder="Dato fra" value="{{ indhold_fra_id.test_date_fra }}" readonly style="color: #6c757d;">
                            <input type="text" class="form-control mb-3" placeholder="Dato til" value="{{ indhold_fra_id.test_date_til }}" readonly style="color: #6c757d;">
                            <input type="text" class="form-control mb-3" placeholder="Dato til" value="{{ indhold_fra_id.udregning_db }}" readonly style="color: #6c757d;">
                            <input type="text" class="form-control mb-3" placeholder="ID" value="{{ indhold_fra_id.id }}" readonly style="color: #6c757d;">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    {% if message3 %}
                    <div class="alert alert-secondary mt-3 bg-light" role="alert">
                        <p class="mb-0">{{ message3 }}</p>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <br/>
                    <p>Til højre ser du de præcise tal indtastet af servicemedarbejderen der foretog krediteringen - indholdet kan ikke ændres. Til venstre kan du regne efter.</p>
                </div>
            </div>
        </div>
        </form>



{% endblock %}